@page "/info"

<PageTitle>情報</PageTitle>

<h1>情報</h1><br />

<h3>ソフトウェアの使い方</h3><br />

<h5>1: データの選択</h5>
<p>データは、デフォルトデータとローカルデータから選択できます。</p>
<p>デフォルトデータは、サイトの方で管理しているサンプルデータです。</p>
<p>ローカルデータは、,区切りで文字コードがUTF-8の.csvまたは.txtファイルを読み込むことができます。</p>
<p><a href="sample-data/sample-data.csv" download="sample-data.csv">ローカルデータのサンプル</a></p><br />

<h5>2: 実際に使う</h5>
<p>データの準備ができたら、実際に使うことができます。</p>
<p>「次の問題を表示」ボタンで、新しい問題が出せます。(問題が出る順番はランダムなので、データ数が少ない場合は問題が被る可能性が高いです。)</p>
<p>「答えを表示」ボタンで、問題に対する答えを表示できます。</p>
<p>※「次の問題を表示」ボタンと「答えを表示」ボタンは共通です。</p>
<p>「上下入れ替え」ボタンで、問題と答えを入れ替えることができます。(未実装)</p>
<p>例えば、 [ 問題:英語 → 答え:日本語 ] を [ 問題:日本語 → 答え:英語 ] に切り替える際に使えます。</p>
